ProstoSmsSdk/.vs/
ProstoSmsSdk/ProstoSmsSdk/obj/
ProstoSmsSdk/ProstoSmsSdk.sln.DotSettings.user
ProstoSmsSdk/ProstoSmsSdk.Tests/bin/
ProstoSmsSdk/ProstoSmsSdk.Tests/obj/project.assets.json
ProstoSmsSdk/ProstoSmsSdk.Tests/obj/
ProstoSmsSdk/ProstoSmsSdk/bin/
